.CategoryForm {
  max-width: 600px;
  margin: 0 auto;
}

.CategoryForm input {
  display: block;
  margin-top: 2px;
  margin-bottom: 20px;
  width: 100%;
}

.CategoryForm label {
  font-weight: 500;
}

.CategoryForm input:disabled {
  background-color: #f4f4f4;
}

.CategoryForm img {
  width: 100px;
  display: block;
  margin-bottom: 20px;
  margin-top: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ButtonBack {
  background-color: #111;
}

.Header {
  padding-bottom: 10px;
  color: #333;
  border-bottom: 1px solid #111;
  align-items: center;
  display: flex;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.Header::after {
  content: "";
  clear: both;
  display: table;
}

.Title {
  float: left;
  font-size: 1.4rem;
  font-weight: 500;
  flex-grow: 1;
}
