.AdminTable {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.AdminTable th,
.AdminTable td {
  padding: 5px 10px;
  border: 1px solid #ccc;
  vertical-align: middle;
}

.AdminTable td label {
  margin-bottom: -2px;
}

.AdminTable th {
  padding-top: 8px;
}

.AdminTable th:first-of-type {
  width: 30px;
}

.AdminTable th:last-of-type {
  width: 50px;
}

.AdminTable thead {
  border-bottom: 2px solid #ccc;
  background-color: #eee;
  background-image: linear-gradient(0deg, #ddd, #f4f4f4 10%, #f4f4f4 90%, #ddd);
  color: #111;
  text-transform: uppercase;
}

.AdminTable tbody tr:hover {
  background-color: #f4f4f4;
}

.AdminTable img {
  width: 50px;
  display: block;
}

.TitleBox {
  padding: 10px 20px;
  background-color: #111;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  border: 2px solid #111;
}

.TitleBox button {
  font-size: 1rem;
  box-shadow: none;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

@media (max-width: 700px) {
  .collapse-large {
    display: none;
  }
}

@media (max-width: 600px) {
  .collapse-medium {
    display: none;
  }
}

@media (max-width: 400px) {
  .collapse-small {
    display: none;
  }
}
